.dashboard-page {
  background-color: #111;
  min-height: 110vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-top: 5%;
}
