// styles/global.scss

:root {
  --primary: #78152B;
  --secondary: #F87575;
  --third: #FFA9A3;
  --additional-light: #B9E6FF;
  --additional: #5C95FF;
  --background-dark: #111;
  --background-light: #545454;
  --background-lighter: #666666;
  --text-light: #ffffff; 
  --text-dark: #111111;
  --disabled: #cccccc; 
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--text-light);
}

.app-page {
  background-color: var(--background-dark);
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
