.add-child-page {
  background-color: #111;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 2% 0;
  height: 100%;
}

.add-child-form {
  min-width: 320px;
  display: flex;
  flex-direction: column;

  label {
    width: 100%;
    text-align: left;
  }

  button {
    float: right;
    clear: both;
  }
}
