// components/Navmenu/Navmenu.scss

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // position: fixed;

  .menu-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  ul > li {
    width: 100%;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text);
    font-size: calc(16px + 2 * ((100vw - 568px) / (768 - 568)));
    transition: color 0.3s ease;
    height: 40px;

    &:hover {
      color: var(--third);
    }

    &.active {
      color: var(--primary);
      font-weight: bold;
    }
  }
}
