.data-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 450px;
}

.childData-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  width: 80%; /* Dodane szerokości */
  margin: auto; /* Dodane wyśrodkowanie */
}

.content-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--white);
  transition: all 0.3s ease-in-out;
  user-select: none;
}

.scroll-progress-container {
  width: 290px;
  height: 10px;
  background-color: var(--additional-light);
  margin: 2% 0;
  border-radius: 10px;
}

.progress-bar {
  height: 100%;
  background-color: var(--additional);
  border-radius: 10px;
}

input[type='date'] {
  background-color: var(--disabled);
  color: var(--text-light) !important;
  transition: all 0.3s ease-in-out;
}
