// src/pages/Login.scss

.login-page {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                margin: 0 auto;
            }
            margin-bottom: 20px;
        }

        .login-form {
            padding: 20px 40px;

            input {
                border-radius: 15px;
                transition: all 0.3s ease-in-out;
            }

            .form-label {
                background-color: transparent;
            }
        }

        .line {
            width: 100%;
            height: 2px;
            background-color: var(--white);
            margin: 20px 0;
        }

        .btn-login {
            border-radius: 15px;
            border: none;
            margin-top: 20px;
            padding: 10px;
            background-color: var(--secondary);
            color: var(--text-light);
            transition: all 0.3s ease-in-out;
        }
        .btn-login:hover {
            background-color: var(--third);
            border-color: var(--secondary);
            box-shadow: 0 0 10px var(--secondary);
            transform: scale(1.05);
        }

        .btn-login:active {
            background-color: var(--primary) !important;
            border-color: var(--secondary) !important;
            transform: scale(0.95);
        }
        .btn-login:focus-visible {
            box-shadow: 0 0 15px var(--secondary);
        }

        .link {
            color: var(--primary);
            font-weight: bold;
            text-decoration: none;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: var(--secondary);
            }
        }
    }
}
