// pages/HomePage/Home.scss

.logo {
  margin-bottom: 40px;
  padding: 0;
  width: 50%;
}

.description {
  margin-bottom: 30px;
  color: var(--text-dark);
  font-weight: bold;
}

.btn-login {
  font-size: 30px;
}
