// pages/HomePage/Home.scss

.home-page {
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ustaw wysokość na 100% wysokości ekranu */

  .content {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .left {
      margin-bottom: 20px; /* Dodaj odstęp między logo a nagłówkiem */
      width: 70%; /* Ustaw szerokość menu na 20% prostokąta */
      display: flex;
      flex-direction: column;
      align-items: center; /* Wysrodkuj zawartość w pionie */
      justify-content: center; /* Wysrodkuj zawartość w poziomie */
    }

    .right {
      width: 30%; /* Ustaw szerokość menu na 20% prostokąta */
      align-items: center; /* Wysrodkuj zawartość w pionie */
      justify-content: center; /* Wysrodkuj zawartość w poziomie */
    }
  }
}

