// components/Button/Button.scss

.button {
  padding: 15px 40px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--text-light);
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;


  &:hover {
    background-color: var(--secondary);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    background-color: var(--disabled);
    cursor: not-allowed;
  }
}
